@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist Sans';
    src: url('?SPX_UI_URI=/dist/fonts/geist-sans/Geist-Variable.woff2') format('woff2');
}
@font-face {
    font-family: 'GeistMono';
    src: url('?SPX_UI_URI=/dist/fonts/geist-mono/GeistMono-Variable.woff2') format('woff2');
}